/* Mobile styles */
.app {
  min-height: 100vh;
  background-image: url('../../assets/images/pattern-curve.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 76%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__section {
  display: flex;
  flex-direction: column;
  max-width: 26.5625rem;
}
