/* Mobile styles */
.app {
  min-height: 100vh;
  background-image: url('../../assets/images/pattern-curve.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 76%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__section {
  display: flex;
  flex-direction: column;
  max-width: 26.5625rem;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .app {
    background-size: 42.36%;
  }

  .app__section {
    flex-direction: row;
    max-width: 90rem;
    position: relative;
    min-height: 50rem;
  }
}