/* Mobile styles */
.testimonialImage {
  order: 1;
  padding: 1.5rem 24px 2rem;
  position: relative;
}

.testimonialImage__figure {
  height: 19.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/pattern-bg.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.testimonialImage__img {
  width: 77.68%;
  max-width: 15.875rem;
  height: 15.8125rem;
  object-fit: cover;
  background: #ebebeb;
  box-shadow: 0px 40px 50px -30px rgba(36, 36, 113, 0.495001);
  border-radius: 5px;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.testimonialImage__container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2.4375rem;
}

.testimonialImage__controls {
  width: 5rem;
  height: 2.5rem;
  display: flex;
  background: #ffffff;
  box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);
  border-radius: 28px;
}

.testimonialImage__control {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.testimonialImage__control:hover {
  cursor: pointer;
}

.testimonialImage__control--prev:hover {
  background-color: #ebebeb;
  border-radius: 28px 0 0 28px;
}

.testimonialImage__control--next:hover {
  background-color: #ebebeb;
  border-radius: 0 28px 28px 0;
}

.testimonialImage__icon {
  width: 0.5rem;
  height: 1rem;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .testimonialImage {
    order: 2;
    padding: 0;
    position: absolute;
    top: 3.125rem;
    right: 73px;
    width: 48.403%;
  }

  .testimonialImage__figure {
    height: 41.0625rem;
    display: block;
  }

  .testimonialImage__img {
    width: 77.475%;
    max-width: 33.75rem;
    height: 33.75rem;
    margin-top: 3.9375rem;
    margin-left: 65px;
  }

  .testimonialImage__container {
    left: 127px;
    transform: none;
    bottom: 1.6875rem;
  }

  .testimonialImage__controls {
    width: 7rem;
    height: 3.5rem;
  }

  .testimonialImage__icon {
    width: 0.75rem;
    height: 1.25rem;
  }
}
