/* Mobile styles */
.testimonial {
  order: 2;
  padding: 1.5625rem 32px 4.6875rem;
  background-image: url('../../assets/images/pattern-quotes.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 3.75rem 3.125rem;
  font-family: 'Inter';
  font-style: normal;
  text-align: center;
  color: #202047;
}

.testimonial__text {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 1.1875rem;
}

.testimonial__author-info {
  font-size: .9375rem;
  line-height: 1.25rem;
}

.testimonial__author {
  display: block;
  font-weight: 700;
}

.testimonial__position {
  font-weight: 500;
  color: #B9B9CE;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .testimonial {
    order: 1;
    margin: 13.375rem 0 2rem 165px;
    padding: 4rem 0 0;
    background-position: top left 5.9375rem;
    background-size: 7.5rem 6.25rem;
    text-align: start;
    max-width: 44.098%;
    z-index: 1;
  }

  .testimonial__text {
    font-size: 2rem;
    line-height: 2.75rem;
    margin-bottom: 2rem;
    letter-spacing: 1.5px;
  }

  .testimonial__author-info {
    font-size: 1.25rem;
    line-height: 2.375rem;
  }
  
  .testimonial__author {
    display: inline;
    margin-right: 10px;
  }
}
